<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  <mapper namespace="com.game.base.player.mapper.PlayerMapper" >
  <resultMap id="BaseResultMap" type="com.game.base.player.entity.PlayerEnt" >
    <id column="player_id" property="playerId" jdbcType="VARCHAR" />
    <result column="account_id" property="account_id" jdbcType="VARCHAR" />
    <result column="playerdata" property="playerData" jdbcType="LONGVARBINARY" />
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    from player
    where player_id = #{playerId,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="com.game.base.player.entity.PlayerEnt" >
    insert into player (player_id, account_id, playerdata)
    values (#{playerId,jdbcType=VARCHAR}, #{account_id,jdbcType=VARCHAR}, #{playerData,jdbcType=LONGVARBINARY} )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.game.base.player.entity.PlayerEnt" >
    update player
    set account_id = #{account_id,jdbcType=VARCHAR}
    playerdata = #{playerData,jdbcType=LONGVARBINARY}
    where player_id = #{playerId,jdbcType=VARCHAR}
  </update>
</mapper>