<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.role.player.mapper.PlayerMapper" >
  <resultMap id="BaseResultMap" type="com.game.role.player.entity.PlayerEnt" >
    <id column="player_id" property="playerId" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="playerdata" property="playerData" jdbcType="LONGVARBINARY" />
  </resultMap>

  <select id="selectPlayerEnt" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
    from player
    where player_id = #{playerId,jdbcType=BIGINT}
  </select>

  <insert id="insertPlayerEnt" parameterType="com.game.role.player.entity.PlayerEnt" >
    insert into player (player_id, account_id, playerdata)
    values (#{playerId,jdbcType=BIGINT}, #{accountId,jdbcType=VARCHAR}, #{playerData,jdbcType=LONGVARBINARY} )
  </insert>

  <update id="updatePlayerEnt" parameterType="com.game.role.player.entity.PlayerEnt" >
    update player
    set account_id = #{accountId,jdbcType=VARCHAR},
    playerdata = #{playerData,jdbcType=LONGVARBINARY}
    where player_id = #{playerId,jdbcType=BIGINT}
  </update>
</mapper>